<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Life is messy. Our devices are things we have personally found useful to have at
                    home, where life happens! Accidentally spilt vino tinto on your carpet? Got a fluffy dog that loves
                    your sofa? We totally get it. No judging here! </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>