<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Email Us To Start!</h2>
                <hr class="primary">
            </div>

            <div class="col text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h4>{{ site.email }}</h4>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <small>2024 Copyright - Borrow Ours</small>
            </div>
        </div>
    </div>
</section>