<section class="no-padding" id="devices">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Devices</h2>
        <hr class="primary">
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <div class="devices-box">
                    <img src="img/devices/sofa.jpg" class="img-responsive" alt="">
                    <div class="devices-box-caption">
                        <div class="devices-box-caption-content">
                            <div class="project-category">
                                Sofa Cleaner
                            </div>
                            <a href="#contact" class="btn btn-primary btn-xl page-scroll">HIRE ME FOR €25 per day</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="devices-box">
                    <img src="img/devices/shelf.jpg" class="img-responsive" alt="">
                    <div class="devices-box-caption">
                        <div class="devices-box-caption-content">
                            <div class="project-category">
                                Cordless Drill
                            </div>
                            <a href="#contact" class="btn btn-primary btn-xl page-scroll">HIRE ME FOR €5 per day</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="devices-box">
                    <img src="img/devices/dog.jpg" class="img-responsive" alt="">
                    <div class="devices-box-caption">
                        <div class="devices-box-caption-content">
                            <div class="project-category">
                                Pet Hair Hoover
                            </div>
                            <a href="#contact" class="btn btn-primary btn-xl page-scroll">HIRE ME FOR €15 per day</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>