<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="text-shadow: 2px 2px 20px black;">Don't buy it,</h1>
            <h1 style="text-shadow: 2px 2px 20px black;">just borrow ours</h1>
            <hr>
            <div>
                <h4 style="text-shadow: 2px 2px 5px black; margin-bottom: 0;">
                    Rent household tools from as little as €5
                </h4>
                <h4 style="text-shadow: 2px 2px 5px black;">Save money, space
                    and waste by borrowing instead of buying</h4>
            </div>

            <a href="#how-it-works" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>