<section id="our-devices">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Devices 8888</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Fabric Cleaner</h3>
                    <p class="text-muted">Sofa stains, carpet marks and chair covers beware! Our little green machine is
                        here.</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pet-Hair Hoover</h3>
                    <p class="text-muted">Pet hair is no match for our hair-detangling hoover. Perfect for furniture use
                        too!</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Cordless Drill</h3>
                    <p class="text-muted">Have you avoided that task because you don't have a drill? This is your sign
                        to
                        finally hang up those pictures.</p>
                </div>
            </div>
        </div>

</section>